<p id="notice"><%= notice %></p>

<h1>Chatroom Users</h1>

<table>
  <thead>
    <tr>
      <th>Chatroom</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatroom_users.each do |chatroom_user| %>
      <tr>
        <td><%= chatroom_user.chatroom %></td>
        <td><%= chatroom_user.user %></td>
        <td><%= link_to 'Show', chatroom_user %></td>
        <td><%= link_to 'Edit', edit_chatroom_user_path(chatroom_user) %></td>
        <td><%= link_to 'Destroy', chatroom_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroom User', new_chatroom_user_path %>
